.board-area {
    background: #d3f7ad;
    width: 48%;
    float: left;
    padding: 10px;
    height: 350px;
    border-bottom-left-radius: 25px;
    border-top-left-radius: 25px;
}

.game_status {
    color: red;
    padding-left: 80px;
    padding-top: 5px;
}
