table {
    border-collapse: collapse;
    border: 1px solid black;
    width: 80%;
    margin-left: 30px;

}

th {
    width: 40%;
}

td {
    width: 50%;
    text-align: center;
    alignment: center;
    align-items: center;
}

tr:nth-child(even) {
    background-color: #d3f7ad;
}

.total-score {
    text-align: center;
}

.score-area {
    background: #95bb76;
    width: 48%;
    float: left;
    padding: 10px;
    height: 350px;
    border-bottom-right-radius: 25px;
    border-top-right-radius: 25px;
}