table {
    border-collapse: collapse;
    border: 1px solid black;
    width: 80%;
    margin-left: 50px;
    display: block;
    height: 250px;
    overflow-y: auto;
}

th {
    width: 40%;
}

td {

    text-align: center;
    alignment: center;
    align-items: center;
    width: 200px;
}


tr:nth-child(even) {
    background-color: #d3f7ad;
}

.total-score {
    position: absolute;
    bottom: 0;
    height: 30px;
    display: inline-block;
    font-weight: bold;
}

.score-area {
    background: #95bb76;
    width: 48%;
    float: left;
    padding: 10px;
    height: 350px;
    border-bottom-right-radius: 25px;
    border-top-right-radius: 25px;
    position: relative;
    text-align: center;
}

.serial-col {
    width: 30px;
}
